/* .happy {
  border-radius: 50%;
  background-color: grey;
  border: black;
  width: 100px;
  height: 100px;
  position: relative;
} */

/* .happyspan {
  position: absolute;
  top: 42%;
  font-weight: bold;
  right: 10%;
  color: yellow;
} */
